<a href="https://colab.research.google.com/github/Welle-Kim/Python/blob/master/%ED%86%B5%EA%B3%84_%ED%8A%B9%EA%B0%951.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

data1=pd.read_csv("Dataset_01.csv")

data1.info()
data1.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TV            4562 non-null   float64
 1   Radio         4568 non-null   float64
 2   Social_Media  4566 non-null   float64
 3   Influencer    4572 non-null   object
 4   Sales         4566 non-null   float64
dtypes: float64(4), object(1)
memory usage: 178.7+ KB

Index(['TV', 'Radio', 'Social_Media', 'Influencer', 'Sales'], dtype='object')

In [ ]:
import pandas as pd
import numpy as np

data2=pd.read_csv("Dataset_02.csv")

data2.info()
data2.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

Index(['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K', 'Drug'], dtype='object')

In [ ]:
val_lst2=['Sex', 'BP', 'Cholesterol']

In [ ]:
q1=data2[val_lst2].value_counts(normalize=True)
q1

Sex  BP      Cholesterol
F    HIGH    NORMAL         0.105
M    HIGH    NORMAL         0.105
     LOW     NORMAL         0.095
     NORMAL  HIGH           0.095
F    NORMAL  HIGH           0.090
M    HIGH    HIGH           0.090
F    HIGH    HIGH           0.085
M    LOW     HIGH           0.085
F    LOW     HIGH           0.070
             NORMAL         0.070
     NORMAL  NORMAL         0.060
M    NORMAL  NORMAL         0.050
dtype: float64

In [ ]:
q1[('F','HIGH',"NORMAL")]

0.105

In [ ]:
tab1=pd.crosstab(index=[data2['Sex'],data2['BP']],
                 columns=data2["Cholesterol"],margins=True)
tab2=pd.crosstab(index=[data2['Sex'],data2['BP']],
                 columns=data2["Cholesterol"],margins=True,normalize=True)

pd.concat([tab1,tab2],axis=1)

Cholesterol  HIGH  NORMAL  All   HIGH  NORMAL    All
Sex BP
F   HIGH       17      21   38  0.085   0.105  0.190
    LOW        14      14   28  0.070   0.070  0.140
    NORMAL     18      12   30  0.090   0.060  0.150
M   HIGH       18      21   39  0.090   0.105  0.195
    LOW        17      19   36  0.085   0.095  0.180
    NORMAL     19      10   29  0.095   0.050  0.145
All           103      97  200  0.515   0.485  1.000

In [6]:
pip install sklearn

Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (1.0.2)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.21.6)

In [11]:
import pandas as pd
import numpy as np
data4=pd.read_csv("Dataset_04.csv")
data4.columns

Index(['LOCATION', 'SUBJECT', 'TIME', 'Value'], dtype='object')

In [13]:
q1=data4[data4.LOCATION=="KOR"]
q1

    LOCATION SUBJECT  TIME     Value
442      KOR    BEEF  1991  5.085481
443      KOR    BEEF  1992  5.685434
444      KOR    BEEF  1993  5.325765
445      KOR    BEEF  1994  5.698819
446      KOR    BEEF  1995  6.568429
..       ...     ...   ...       ...
583      KOR   SHEEP  2022  0.197951
584      KOR   SHEEP  2023  0.199098
585      KOR   SHEEP  2024  0.200266
586      KOR   SHEEP  2025  0.201451
587      KOR   SHEEP  2026  0.202656

[146 rows x 4 columns]

In [17]:
q1.groupby("TIME")["Value"].sum().reset_index(drop=False).corr()

           TIME     Value
TIME   1.000000  0.960124
Value  0.960124  1.000000